.visualization {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: 0.5s;
  margin: 100px;
  /* should be at least 398 as 65 bars create the highest bar of 396. */
  height: 400px;
  overflow: hidden;
}

@media (max-width: 800px) {
  .visualization {
    transform: rotate(90deg) scaleY(-0.6);
  }
}
